.home-container {
  background-color: var(--bg-tab-color) !important;
  min-height: 100vh;
  border: 1px solid;
}

.create-form {
  width: 60%;
}

.form-button-container {
  display: flex;
  justify-content: flex-end;
}

.form-button-container button {
  margin-right: 1rem;
  width: 200px;
}

.error-message {
  color: var(--secondary-text-color);
}

.pending-message {
  color: var(--main-text-color);
}

@media (max-width: 699px) {
  .create-form {
    width: 95%;
  }
}