.account-card {
  width: 60%;
  margin-top: 4rem;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
}

.account-avatar {
  width: 100px;
  height: 100px;
  margin-top: 1rem;
}

.ac-list-group {
  width: 80%;
}

.ac-list-item {
  color: var(--main-text-color);
  background-color: var(--bg-tab-color);
  border: none
}

@media (max-width: 699px) {
  .account-card {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
  }

  .ac-list-group {
    width: 100%;
  }

  .ac-list-item {
    overflow: scroll;
  }
}