.home-container {
  background-color: var(--bg-tab-color) !important;
  min-height: 100vh;
  border: 0.01rem solid;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  flex-direction: row;
  gap: 1rem;
  overflow: scroll;
}

.link-card {
  width: 20rem;
}

@media (max-width: 699px) {
  .link-card {
    max-width: 20rem;
    overflow: scroll;
  }
}